PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=contacts_db

# SMTP/Brevo
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_user
SMTP_PASSWORD=your_brevo_password
SMTP_FROM=your_brevo_email

# JWT
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Frontend domain
APP_DOMAIN=http://localhost:3000/auth

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
